.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}

.modal h3 {
  margin-top: 0;
}

.modal input,
.modal select {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.salvar {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.cancelar {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 0.85em;
  margin-top: -8px; /* Ajuste para posicionar abaixo do input */
  margin-bottom: 10px; /* Espaçamento após a mensagem de erro */
}