/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo da página */
body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4e8de3, #6cc1f0);
}

/* Contêiner do login */
.login-container {
  position: relative;
  text-align: center;
  width: 150%; /* Aumenta a largura proporcionalmente */
  max-width: 500px; /* Novo tamanho máximo */
  padding: 50px; /* Ajustado para manter proporcionalidade */
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

/* Círculo superior para o logo */
.login-image-container {
  position: absolute;
  top: -80px; /* Posicionado para não invadir o título */
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

/* Estilo do título */
.login-title {
  font-size: 35px; /* Tamanho ajustado */
  font-weight: bold;
  color: #333;
  margin-bottom: 40px; /* Espaçamento maior */
}

/* Estilo do formulário */
.input-group {
  margin-bottom: 25px; /* Ajuste no espaçamento */
}

.input-wrapper {
  position: relative;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px; /* Tamanho do ícone ajustado */
  color: #555;
}

.input-field {
  width: 100%;
  padding: 12px 12px 12px 45px; /* Espaço ajustado para o ícone */
  border: 2px solid #e1e1e1;
  border-radius: 8px;
  background-color: #f7f7f7;
  font-size: 18px; /* Ajuste do tamanho da fonte */
}

.input-field:focus {
  outline: none;
  border-color: #4e8de3;
}

/* Botão de login */
.login-button {
  width: 100%;
  padding: 15px;
  background-color: #4e8de3;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px; /* Ajuste do tamanho da fonte */
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #6cc1f0;
}

/* Link de registro */
.signup-link {
  margin-top: 20px; /* Espaçamento ajustado */
  font-size: 16px; /* Tamanho do texto ajustado */
  color: #555;
}

.signup-link a {
  color: #4e8de3;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
